<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet eligendi aperiam vel! Tenetur tempora, possimus odio, enim eligendi vero voluptatem iure consequatur fugiat sapiente quo ipsam, recusandae voluptatibus! Quam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quas eligendi eaque quod a aliquid odit non libero, pariatur minima, possimus reiciendis hic atque officiis aut? Accusamus, quis, obcaecati. Fugit!</p>

